
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --main-border-color: rgba(45, 46, 48, 0.11);
    --main-header-footer-color: rgb(247, 248, 252);
    --main-weather-color: rgb(225, 229, 245);
    --main-weather-info-color: rgb(228, 244, 255);
    --main-button-form-color: rgba(231, 248, 233, 0.616);
    --main-button-hover-color: rgba(198, 250, 205, 0.616);
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    
}

header, 
footer {
    background: var(--main-header-footer-color);
}

header {
    position: relative;
    height: 70px;
    border-bottom: 1px solid var(--main-border-color);
}

.header-title {
    margin-left: 20px;
    line-height: 70px;
    vertical-align: middle;
    cursor: pointer;
}

.days {
    display: flex;
    position: absolute;
    top: 0;
    left: 300px;
    height: inherit;
    line-height: 70px;
}

.days li {
    list-style-type: none;
    width: 150px;
    vertical-align: middle;
    text-align: center;
    font-size: 1.3em;
    cursor: pointer;
    border-right: 1px solid var(--main-border-color);
    border-radius: 10px;
}

.days li:hover {
    background-color: var(--main-button-hover-color);
}

.active {
    background-color: var(--main-weather-color);
}

main {
    display: flex;
    flex-grow: 1;
    max-width: 1020px;
    margin: 0 auto;
}

.sidebar {
    align-items: stretch;
    padding: 10px;
}

.params-weather {
    margin-top: 20px;
    width: 240px;
}

fieldset {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--main-border-color);
}

.city-name, 
.choice {
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    padding: 5px;
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.city-name:focus, 
.lat:focus, 
.lon:focus, 
.zip-code:focus, 
.country:focus, 
.choice:focus {
    outline: none;
    background-color: var(--main-header-footer-color);;
}

.lat, 
.lon, 
.zip-code, 
.country {
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    padding: 5px;
    width: 50%;
}

.coordinates, 
.zip {
    margin-bottom: 10px;
    width: 100%;
    font-size: 0;
}

.humidity, 
.wind {
    display: block;
}

.extra-params,
.humidity {
    margin-top: 10px;
}

.hidden {
    display: none;
}

.humidity, 
.wind {
    margin-left: 20px;
}

.wind {
    margin-bottom: 20px;
}

.error {
    border: 1px solid rgb(235, 9, 9);
}

.button-form {
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    outline: none;
    padding: 5px;
    width: 100%;
    text-decoration: none;
    color: royalblue;
    background-color: var(--main-button-form-color); 
}

.button-form:hover {
    background-color: var(--main-button-hover-color);
}

.content {
    flex-grow: 1;
    align-items: stretch;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.weather {
    display: inline-block;
    margin: 10px;
    border: 1px solid var(--main-border-color);
    border-radius: 10px;
    width: 240px;
    background-color: var(--main-weather-color);
    position: relative;
}

.weather-title {
    padding: 10px;
}

.weather-info {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
    background-color: var(--main-weather-info-color);
}

.weather-time {
    font-size: 1.5em;
    position: absolute;
    top: 5px;
    right: 5px;
}

.weather-forecast {
    font-size: 2em;
    position: absolute;
    top: 60px;
    right: 5px;
}

footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top: 1px solid var(--main-border-color);
    font-size: 0.8em;
}


@media screen and (max-width: 400px) {
    body {
        font-size: 1.3em;
    }

    header {
        min-height: 100px;
        
    }

    .icon {
        position: relative;
        top: 10px;
        display: inline-block;
        background: linear-gradient(rgb(165, 243, 218) 0%, rgb(165, 243, 218) 25%, rgb(213, 241, 232) 25%, rgb(213, 241, 232) 75% rgb(213, 241, 232) 75%, rgb(213, 241, 232) 100%);
        width: 50px;
        height: 50px;
        margin-top: 10px;
    }

    .header-title {
        display: inline-block;
        margin-left: 10px;
    }

    .days {
        display: none;
        min-width: 100%;
        top: 70px;
        left: 0px;
        flex-wrap: wrap;
    }

    .days li {
        flex-wrap: wrap;
        min-width: 50%;
    }
    
}