
*,
ul,
li,
h1,
p, 
label {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --main-border-color: rgba(45, 46, 48, 0.11);
    --main-header-footer-color: rgb(247, 248, 252);
    --main-weather-color: rgb(225, 229, 245);
    --main-weather-info-color: rgb(228, 244, 255);
    --main-button-form-color: rgba(231, 248, 233, 0.616);
    --main-button-hover-color: rgba(198, 250, 205, 0.616);
}

html,
body {
    height: 100%;
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

header, 
footer {
    background: var(--main-header-footer-color);
}

header {
    border-bottom: 1px solid var(--main-border-color);
}

.header-title,
.days {
    cursor: pointer;
    line-height: 70px;
    vertical-align: middle;
    text-align: center; 
}

.header-title {
    margin: 0 10px;
}

.days li {
    list-style-type: none;
    padding: 0 40px;
    min-width: 100px;
    font-size: 1.3em;
    border-right: 1px solid var(--main-border-color);
    color: royalblue;
}

.days li:first-child {
    border-left: 1px solid var(--main-border-color);
}

.days li:hover,
.active {
    background-color: var(--main-weather-color);
}

main,
.sidebar {
    margin: 0 auto;
}

main {
    max-width: 1100px;
    flex: 1 0 auto;
}

.sidebar {
    padding-top: 10px;
    max-width: 280px;
    min-width: 200px;
}

fieldset {
    font-size: 1.1em;
    padding: 0 10px 10px 10px;
    border-radius: 5px;
    border: 1px solid var(--main-border-color);
}

.select-weather-by-param {
    margin-bottom: 5px;
}

.city-name, 
.lat, 
.lon, 
.zip-code, 
.country, 
.select-weather-by-param,
.submit-weather-params-button,
.clear-weather-params-button {
    background-color: var(--main-header-footer-color);
    border: 1px solid var(--main-border-color);
    padding: 5px;
    width: 100%;
}

.city-name:focus, 
.lat:focus, 
.lon:focus, 
.zip-code:focus, 
.country:focus, 
.select-weather-by-param:focus {
    outline: none;
    background-color: white;
}

.humidity, 
.wind {
    display: block;
}

.humidity {
    margin-top: 5px;
}

.extra-params {
    margin: 10px 0;
}

.hidden {
    display: none;
}

.error {
    border: 1px solid rgb(235, 9, 9);
}

.submit-weather-params-button,
.clear-weather-params-button {
    outline: none;
    color: royalblue; 
}

.clear-weather-params-button:hover,
.submit-weather-params-button:hover {
    background-color: var(--main-button-hover-color);
}

.clear-weather-params-button { 
    margin-top: 5px;
}

.content { 
    padding: 5px;
    max-width: 930px;
}

.weather-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.weather-item {
    display: inline-block;
    margin: 10px;
    border: 1px solid var(--main-border-color);
    border-radius: 2px;
    width: 240px;
    background-color: var(--main-weather-color);
    position: relative;
    overflow: hidden;
}

.weather-title {
    padding: 10px;
    font-size: 1.8em;
}

.weather-info {
    padding: 5px;
    background-color: var(--main-button-hover-color);
    font-size: 1.1em;
}

.weather-time {
    font-size: 1.5em;
    position: absolute;
    top: 5px;
    right: 5px;
}

.weather-forecast {
    font-size: 2em;
    position: absolute;
    top: 60px;
    right: 5px;
}

footer {
    flex-shrink: 0;
    padding: 10px;
    border-top: 1px solid var(--main-border-color);
    font-size: 0.9em;
}

.info-about-api,
.copyright {
    display: inline-block;
    margin: 0 5px;
}

.info-about-api {
    width: 300px;
    text-align: center;
}

.error-data {
    color:rgb(235, 9, 9);
    font-size: 2em;
    text-align: center;
    font-family: 'Avantgarde', 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
    margin-top: 50px;
}

@media screen and (max-width: 800px) {
    .weather-item {
        margin: 5px auto;
    }
}

@media screen and (max-width: 1024px) {
    main {
        max-width: 900px;
    }
}

.open-sidebar {
    transform: translateX(-400px) translateX(400px);
    transition: 2s;
}

.close-sidebar {
    transform: translateX(-400px);
    transition: 2s;
}

.run-content-at-open-sidebar {
    
    transition: 2s;
}

.run-content-at-close-sidebar {
    
    transition: 2s;
}