
* ,
p,
ul,
label {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --main-border-color: rgba(45, 46, 48, 0.11);
    --main-header-footer-color: rgb(247, 248, 252);
    --main-weather-color: rgb(225, 229, 245);
    --main-weather-info-color: rgb(228, 244, 255);
    --main-button-form-color: rgba(231, 248, 233, 0.616);
    --main-button-hover-color: rgba(198, 250, 205, 0.616);
}

html,
body {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 100%;
}

header, 
footer {
    background: var(--main-header-footer-color);
}

header {
    border-bottom: 1px solid var(--main-border-color);
    min-height: 70px;
}

.header-title,
.days {
    height: 100%;
    text-align: center;
}

.days {
    cursor: pointer;
}

.header-title {
    cursor: default;
}

.days li {
    list-style-type: none;
    font-size: 1.3em;
    border-right: 1px solid var(--main-border-color);
    color: royalblue;
    line-height: 65px;
    vertical-align: middle;
}

.days li:first-child {
    border-left: 1px solid var(--main-border-color);
}

.days li:hover,
.active {
    background-color: var(--main-weather-color);
}

.sidebar {
    padding-top: 10px;
}

fieldset {
    font-size: 1.1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--main-border-color);
}

.select-weather-by-param {
    margin-bottom: 5px;
}

.city-name, 
.lat, 
.lon, 
.zip-code, 
.country, 
.select-weather-by-param,
.submit-weather-params-button,
.clear-weather-params-button {
    background-color: var(--main-header-footer-color);
    border: 1px solid var(--main-border-color);
    padding: 5px;
    width: 100%;
}

.city-name:focus, 
.lat:focus, 
.lon:focus, 
.zip-code:focus, 
.country:focus, 
.select-weather-by-param:focus {
    outline: none;
    background-color: white;
}

.humidity, 
.wind {
    display: block;
}

.humidity {
    margin-top: 5px;
}

.extra-params {
    margin: 10px 0;
}

.hidden {
    display: none;
}

.error {
    border: 1px solid rgb(199, 67, 67);
}

.submit-weather-params-button,
.clear-weather-params-button {
    outline: none;
    color: royalblue; 
}

.clear-weather-params-button:hover,
.submit-weather-params-button:hover {
    background-color: var(--main-button-hover-color);
}

.clear-weather-params-button { 
    margin-top: 5px;
}

.weather-item {
    border: 1px solid var(--main-border-color);
    border-radius: 2px;
    background-color: var(--main-weather-color);
    position: relative;
    overflow: hidden;
    height: 95%;
    width: 100%;
}

.weather-title {
    padding: 10px;
    font-size: 1.8em;
}

.weather-info {
    background-color: var(--main-button-hover-color);
    font-size: 1.1em;
    height: 100%;
    padding: 10px;
}

.weather-time {
    font-size: 1.5em;
    position: absolute;
    top: 5px;
    right: 5px;
}

.weather-forecast {
    font-size: 2em;
    position: absolute;
    top: 60px;
    right: 5px;
}

footer {
    padding: 10px;
    border-top: 1px solid var(--main-border-color);
    font-size: 0.9em;
}

.info-about-api,
.copyright {
    display: inline-block;
    margin: 0 5px;
}

.info-about-api {
    width: 300px;
    text-align: center;
}

.error-data {
    color:rgb(56, 19, 19);
    font-size: 2em;
    text-align: center;
    font-family: 'Avantgarde', 'TeX Gyre Adventor', 'URW Gothic L', sans-serif;
    margin-top: 50px;
}

.flex-fill {
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px);
}

main {
    flex-grow: 1;
}